@model IEnumerable<MvcLabWeb.Models.TravelAlert>
@{
    ViewBag.Title = "Index";
}

<h2>國際間旅遊疫情建議等級表</h2>


    <div class="row well">
        <form class="form" role="form">
            <div class="col-lg-8">
                <div class="input-group">
                    <span class="input-group-addon">嚴重程度</span>
                    @Html.DropDownList("SecurityLevels", null, "All", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-4">
                <button type="submit" id="ButtonSubmit" class="btn btn-primary">
                    查詢
                </button>
            </div>
        </form>
    </div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.effective)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.expires)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.headline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.instruction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.web)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.alert_disease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.areaDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.areaDesc_EN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.circle)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sent)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.effective)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.expires)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.headline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.instruction)
                </td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.web)">link</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.alert_disease)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.areaDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.areaDesc_EN)
                </td>
                <td>
                    <a href="https://maps.google.com/?q=@Html.DisplayFor(modelItem => item.circle)">Google Map</a>
                </td>

            </tr>
        }
    </tbody>
</table>
